/* เว็บต้นแบบ
https://www.kccbresort.com/
https://www.aavaresort.com/ */
body {
  margin: 0%;
  box-sizing: border-box;
}
header {
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: auto;
}
.logo img {
  width: 150px;
  display: flex;
}
.navbar ul {
  /* background-color: rgb(237, 141, 31); */
  list-style: none;
  /* overflow: hidden; */
}
.navbar a {
  color: black;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  padding: 20px;
  &:hover {
    color: rgb(216, 173, 55);
    /* text-decoration: underline; */
  }
}
li {
  float: left;
}
.navbar span {
  background-color: rgb(165, 117, 3);
  color: white;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2%;
  border-radius: 10px;
  &:hover {
    background-color: rgb(187, 134, 10);
    text-decoration: none;
  }
}
main {
  /* background-color: aqua; */
  padding-bottom: 20px;
}
.home-img {
  position: relative;
  width: 100%;
  height: 100%; 
  overflow: hidden;
}


h1 {
  position: relative;
  padding-top: 10px;
  display: block;
  text-align: center;
  font-size: 50px;
  color: rgb(165, 117, 3);
}
h2 {
  display: block;
  text-align: center;
  font-size: 40px;
}
p {
  padding-left: 20%;
  padding-right: 20%;
  font-size: 30px;
}
footer p{
  font-size: larger;
  padding-top: 10px;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  align-self: flex-end;
}